name: libtorrent crossbuild package release

on:
  workflow_dispatch:
    inputs:
      skip_rerun:
        description: "Skip rerun?"
        required: true
        default: false
        type: boolean
      retries:
        description: "Number of rerun retries"
        required: true
        default: "1"
        type: choice
        options: ["1", "2", "3", "4", "5", "6", "7", "8", "9"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    outputs:
      libtorrent_version: ${{ steps.version_info.outputs.libtorrent_version }}
    strategy:
      fail-fast: false
      matrix:
        name: [libtorrent]
        os_id: [debian, ubuntu]
        os_codename: [bullseye, bookworm, trixie, jammy, noble]
        arch: [amd64, armhf, arm64]
        exclude:
          - os_id: debian
            os_codename: jammy
          - os_id: debian
            os_codename: noble
          - os_id: ubuntu
            os_codename: bullseye
          - os_id: ubuntu
            os_codename: bookworm
          - os_id: ubuntu
            os_codename: trixie

    name: ${{ matrix.os_id }}:${{ matrix.os_codename }} ${{ matrix.name }} ${{ matrix.arch }}

    env:
      opt_dir_name: "opt/local"
      github_branch: "RC_2_0"
      cxx_standard: "17"
      GH_TOKEN: "${{ github.token }}"
      container_name: "builder"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Host - Bootstrap qemu
        uses: userdocs/actions/qemu@e74d179578ddcf1cd07cd9eefd0915f33a3bd600 # v1.0.1

      - uses: userdocs/actions/qbt_docker@main
        with:
            # if the env.custom file exists, it will be used to pass environment
            distinct_id: ""
            use_host_env: "false"
            container_name: ${{ env.container_name }}
            os_id: ghcr.io/userdocs/dcb
            os_version_id: ${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.arch }}
            uid: gh
            gid: gh

      - name: Docker - cmake and ninja download and install
        run: |
          docker exec ${container_name} curl -sNL "https://github.com/userdocs/cmake-crossbuild/releases/latest/download/${{ matrix.os_id }}-${{ matrix.os_codename }}-cmake-${{ matrix.arch }}.deb" -o ${{ matrix.os_id }}-${{ matrix.os_codename }}-cmake-${{ matrix.arch }}.deb
          docker exec ${container_name} sudo dpkg -i ${{ matrix.os_id }}-${{ matrix.os_codename }}-cmake-${{ matrix.arch }}.deb

      - name: Docker - zlib-ng download and install
        run: |
          docker exec ${container_name} curl -sNL "https://github.com/userdocs/zlib-ng-crossbuild/releases/latest/download/${{ matrix.os_id }}-${{ matrix.os_codename }}-zlib-ng-${{ matrix.arch }}.deb" -o ${{ matrix.os_id }}-${{ matrix.os_codename }}-zlib-ng-${{ matrix.arch }}.deb
          docker exec ${container_name} dpkg -i ${{ matrix.os_id }}-${{ matrix.os_codename }}-zlib-ng-${{ matrix.arch }}.deb

      - name: Docker - openssl download and install
        run: |
          docker exec ${container_name} curl -sNL "https://github.com/userdocs/openssl-crossbuild/releases/latest/download/${{ matrix.os_id }}-${{ matrix.os_codename }}-openssl-${{ matrix.arch }}.deb" -o ${{ matrix.os_id }}-${{ matrix.os_codename }}-openssl-${{ matrix.arch }}.deb
          docker exec ${container_name} dpkg -i ${{ matrix.os_id }}-${{ matrix.os_codename }}-openssl-${{ matrix.arch }}.deb

      - name: Docker - Bootstrap the boost files
        id: boost_info
        uses: userdocs/actions/boost@main
        with:
          boost_version: ""
          download_archive: true
          extract_archive: true

      - name: Git clone libtorrent
        run: git clone --single-branch --branch "${{ env.github_branch }}" --shallow-submodules --recurse-submodules --depth 1 https://github.com/arvidn/libtorrent.git libtorrent

      - name: Docker - libtorrent - cmake configure
        env:
          boost_folder_name: ${{ steps.boost_info.outputs.BOOST_FOLDER_NAME }}
        run: >
          docker exec -w /home/gh/libtorrent ${container_name} cmake -Wno-dev -Wno-deprecated -G Ninja -B build
          -D CMAKE_BUILD_TYPE="Release"
          -D CMAKE_CXX_STANDARD="${{ env.cxx_standard }}"
          -D CMAKE_CXX_STANDARD_REQUIRED=ON
          -D CMAKE_CXX_EXTENSIONS=OFF
          -D BOOST_INCLUDEDIR="/home/gh/${boost_folder_name}/"
          -D CMAKE_INSTALL_PREFIX="/home/gh/build/${{ env.opt_dir_name }}"

      - name: Docker - libtorrent - cmake build
        run: docker exec -w /home/gh/libtorrent ${container_name} cmake --build build

      - name: Docker - libtorrent - cmake install
        run: docker exec -w /home/gh/libtorrent ${container_name} cmake --install build

      - name: Set full libtorrent version to variable using strings
        id: version_info
        run: |
          libtorrent_version="$(strings -d build/${{ env.opt_dir_name }}/lib/libtorrent-rasterbar.so | sed -rn 's|^libtorrent/(.*)|\1|p' | head -n 1)"
          echo "libtorrent_version=${libtorrent_version}" >> $GITHUB_ENV
          echo "libtorrent_version=${libtorrent_version}" >> $GITHUB_OUTPUT

      - name: Docker - ldconfig - create /etc/ld.so.conf.d/libtorrent.conf
        run: |
          docker exec -w /home/gh/build ${container_name} mkdir -p etc/ld.so.conf.d
          docker exec -w /home/gh/build/etc/ld.so.conf.d ${container_name} bash -c "echo '/${{ env.opt_dir_name }}/lib' > libtorrent.conf"

      - name: Host - Create deb packages
        uses: jiro4989/build-deb-action@v4
        with:
          package: "${{ matrix.name }}"
          package_root: build
          maintainer: userdocs
          compress_type: gzip
          version: "${{ env.libtorrent_version }}"
          depends: "zlib-ng,openssl"
          arch: "${{ matrix.arch }}"
          desc: "${{ matrix.name }}-${{ matrix.arch }} for ${{ matrix.os_id }}-${{ matrix.os_codename }}"

      - name: Host - Remove version from release name and use hyphens
        run: mv -f "${{ matrix.name }}_${libtorrent_version}_${{ matrix.arch }}.deb" "${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.name }}-${{ matrix.arch }}.deb"

      - name: Host - upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: "${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.name }}-${{ matrix.arch }}-deb"
          path: "${{ matrix.os_id }}-${{ matrix.os_codename }}-${{ matrix.name }}-${{ matrix.arch }}.deb"

  release:
    name: Upload artifacts to release
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    needs: [build]
    if: needs.build.result == 'success'
    env:
      GH_TOKEN: "${{ github.token }}"
      libtorrent_version: ${{ needs.build.outputs.libtorrent_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Host - Download artifacts
        uses: actions/download-artifact@v4

      - name: Host - artifacts organise for release
        run: |
          mkdir -p "releases"
          for files in *-deb; do
              cp -rf ${files}/* "releases/"
          done

      - name: Host - "Create release - tag - assets"
        uses: ncipollo/release-action@v1
        with:
          prerelease: false
          artifacts: releases/*.deb
          replacesArtifacts: true
          tag: "${{ env.libtorrent_version }}"
          name: "libtorrent ${{ env.libtorrent_version }}"
          body: "libtorrent built from github master on amd64 arm64 armhf for Debian Bullseye Bookworm and Ubuntu Focal Jammy Noble"
          allowUpdates: true

  ci-auto-rerun-failed-jobs:
    if: failure() && (github.event.inputs.skip_rerun || 'false') == 'false'
    needs: [release]
    concurrency:
      group: ci-auto-rerun-failed-jobs
      cancel-in-progress: true
    permissions:
      actions: write
    runs-on: ubuntu-24.04-arm
    env:
      GH_TOKEN: "${{ secrets.AUTO_RERUN || github.token }}"
      github_repo: "" # To use ci-auto-rerun-failed-jobs.yml hosted in a remote repository else default to the current repository. Requires PAT token AUTO_RERUN
      retries: ${{ github.event.inputs.retries || '1' }}
      distinct_id: ${{ github.event.inputs.distinct_id }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: ci-auto-rerun-failed-jobs via ${{ env.github_repo || github.repository }}
        run: >
          gh workflow run ci-auto-rerun-failed-jobs-action.yml
          --repo "${github_repo:-$GITHUB_REPOSITORY}"
          -f github_repo=${GITHUB_REPOSITORY}
          -f run_id=${GITHUB_RUN_ID}
          -f attempts=${GITHUB_RUN_ATTEMPT}
          -f retries=${retries}
          -f distinct_id=${distinct_id}
